body {
  font-family: "Poppins", sans-serif;
  margin: 40px 60px 0px 60px;
}
header h1 {
  font-size: 46px;
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: 300;
}

.container {
  display: flex;
  background: rgb(243, 243, 243);
  width: auto;
  height: 500px;
  margin: 0px auto;
  border-radius: 10px;
  padding: 30px 30px 20px 30px;
  margin-bottom: 50px;
}
.headline {
  display: flex;
  gap: 200px;
}
.results {
  background-color: rgb(118 148 176);
  width: 60%;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.results-text {
  position: absolute;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: #fff;
}
.start,
.end,
.submit-btn {
  margin-bottom: 30px;
}
.input-container h2 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #1c1c1e;
}

.label {
  color: #1c1c1e;
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
}
.input-container {
  width: 40%;
  padding: 10px 30px 10px 00px;
}
.submit-btn {
  margin-top: 20px;
}

.submit-btn > input {
  font-weight: 600;
  width: 100%;
  padding: 12px;
  border: none;
  color: rgb(3, 3, 218);
  background-color: rgb(155, 191, 224);
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn > input:hover {
  background-color: rgb(112, 168, 221);
}

.start input,
.end input,
.list-number {
  font-family: "Roboto", sans-serif;
  color: rgb(125, 125, 125);
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
.results {
  max-height: 1000px;
  overflow-y: auto;
}

.result-list {
  display: flex;
  background-color: rgb(243, 243, 243);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  gap: 30px;
  align-items: center;
}
.result-list p {
  margin: 8px;
  color: rgb(0, 0, 0);
}
.magnitude {
  position: relative;
  padding: 20px;
  margin-left: 8px;
  width: 80px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
.magnitude h2 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 25%;

  margin: 0px;
}
.magnitude span {
  position: relative;
  top: 25%;
  font-size: 12px;
  color: #1c1c1e;
}

.details p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #1c1c1e;
}
.learn-more {
  cursor: pointer;
  color: rgb(3, 3, 218);
  font-size: 12px;
}
.learn-more:hover {
  text-decoration: underline;
}

#popupModule {
  display: none;
  position: fixed;
  height: 500px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.keywords {
  color: rgb(119 127 119);
}
.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.additional-details {
  position: relative;
}
.cancel-icon {
  position: absolute;
  top: -30px;
  right: -30px;
}

.cancel-icon path:hover {
  cursor: pointer;
  stroke: rgb(108, 108, 108);
}
.widget-1 {
  height: 200px;
  margin: auto;
  border-radius: 8px;
}
.subhead {
  font-weight: 500;
  color: rgb(96, 95, 95);
}
.top5list {
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 800px;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  gap: 10px;
  align-items: center;
}
.widget-list {
  display: flex;
  gap: 08px;
  width: 100%; /* or a fixed width, e.g., 400px */
  height: 200px; /* adjust height as needed */
  overflow-x: scroll; /* Adds horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrollbar */
  white-space: nowrap;
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}
.widget-details p {
  margin: 0px;
}
.widget-magnitude h2 {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  top: 5px;
}
.widget-magnitude {
  margin: 0px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.widget-magnitude-keyword {
  font-size: 10px;
}
.time-widget {
  margin-right: 10px;
  color: rgb(100 106 100);
}
.widget-place,
.time-widget {
  font-size: 14px;
}

.hide {
  display: none;
}
.footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
